* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
button,
input {
  outline: none;
  border: none;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
body {
  min-height: 100vh;
  min-width: 37.5rem;
  max-width: 144rem;
  font-size: 1.6rem;
  color: #000;
  background-color: #e5e5e5;
}
