@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway-Black.ttf);
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway-ExtraBold.ttf);
  font-weight: 800;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url(./fonts/PlayfairDisplay-Black.ttf);
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}

/* * css reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
button,
input {
  outline: none;
  border: none;
  font-family: "Raleway";
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #000;
}
ul,
ol {
  list-style: none;
}
body {
  min-height: 100vh;
  min-width: 37.5rem;
  font-size: 1.6rem;
  color: #000;
  font-family: "Raleway";
  background-color: #fff;
  margin: 0 auto;
}
/* *header */
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}
.wrapper-header {
  width: 100%;
  max-width: 128rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 144rem;
}
.box-logo {
  padding-top: 1rem;
}
.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu {
  display: flex;
  align-items: center;
}
.main-menu li {
  margin-left: 2.2rem;
}
.main-menu li a {
  padding: 1rem 1.5rem 0.5rem 1.5rem;
  border-bottom: 5px solid #4ba87d;
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 800;
  letter-spacing: 1.275px;
}
.main-menu .sign-up {
  background-color: #4ba87d;
  color: #fff;
}
/* *main */
.main {
  width: 100%;
  background-image: url(./assets/BG\ stuff.svg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-main {
  width: 100%;
  max-width: 109rem;
  display: flex;
  flex-direction: column;
}
.hero {
  background: url(./assets/photo\ hero.svg) no-repeat right center;
  margin: 11rem 0 14rem;
  height: 38rem;
}
.content-hero {
  max-width: 49rem;
}
.title-hero {
  font-family: "PlayfairDisplay";
  font-weight: 900;
  font-size: 5.9rem;
  line-height: 7.1rem;
  margin-top: 1rem;
}
.desc-hero {
  font-weight: 500;
  font-size: 1.9rem;
  line-height: 2.6rem;
  font-weight: 500;
  margin-top: 2.5rem;
}
.btns-hero {
  width: 45rem;
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
}
.btn-hero {
  flex: 1;
  font-weight: 900;
  font-size: 2.1rem;
  line-height: 2.5rem;
  padding: 2rem 0;
  border: 3px solid #4ba87d;
  letter-spacing: 1.05px;
}
.btn-try {
  background-color: #4ba87d;
  color: #fff;
}
.btn-demo {
  margin-left: 4.5rem;
  background-color: #fff;
  color: #4ba87d;
}

.video {
  margin: 14rem 0 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.content-video {
  width: 100%;
  position: absolute;
  z-index: 999;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-video {
  font-family: "PlayfairDisplay";
  font-weight: 900;
  font-size: 6rem;
  line-height: 8rem;
  color: #fff;
  margin-bottom: 6rem;
}
.btn-video {
  font-family: "Raleway";
  font-weight: 900;
  font-size: 2.1rem;
  line-height: 2.5rem;
  color: #4ba87d;
  background-color: #fff;
  letter-spacing: 1.05px;
  padding: 2rem 3.2rem;
}
/* *footer */
